@inherits LayoutComponentBase

<nav class="sidebar">
    <NavMenu />
</nav>

<main class="main">
    <div class="top-row px-4">
        <a href="http://felleskjopet.no" target="_blank" class="ml-md-auto">Om oss</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</main>
